.outer {
  background: #e3e3e3;
  margin: 5%;
  border-radius: 5%;
  padding: 3%;
}
.inner {
  border-radius: 5%;
  height: 100vh;
  align-self: center;
}

.design {
  border-radius: 5%;
  background-image: url("./design.svg");
  background-size: 96%;
  background-repeat: no-repeat;
}
